{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetare Parolă</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2>Resetare Parolă</h2>
        <p>Introduceți adresa de email și veți primi un link pentru resetarea parolei.</p>

        <form method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit" class="login-btn">Trimite email</button>
        </form>

        <p class="auth"><a href="{% url 'login' %}">Înapoi la autentificare</a></p>
    </div>
</body>
</html>
