{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Trimite</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2>Email Trimis</h2>
        <p>Verifică adresa ta de email pentru a continua resetarea parolei.</p>
        <p class="auth"><a href="{% url 'login' %}">Înapoi la autentificare</a></p>
    </div>
</body>
</html>
